.validation-error {
    background-color: #f8d7da;
    color: #721c24;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    display: none;



}

.item {
    flex-basis: 100%;
}